<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout--no-drawer-button">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">ngx-filter-pipe</span>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">

      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-tablet mdl-cell--1-offset-desktop">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h2>Filter pipe</h2>
              <p class="short-description">Simplifies array filtering</p>
              <p>
                <a href="https://github.com/VadimDez/ngx-filter-pipe">GitHub</a>
              </p>
            </div>
          </div>

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h4>Objects</h4>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h5>Before filtering</h5>
              {{ objects | json }}
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h5>After filtering</h5>
              Filters:
              <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="object.test"
                         [(ngModel)]="objectsFilter.test"
                         [value]="objectsFilter.test"
                  >
                  <label class="mdl-textfield__label" for="object.test">object.test</label>
                </div>
              </div>
              <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="object.num"
                         [(ngModel)]="objectsFilter.num"
                         [value]="objectsFilter.num"
                  >
                  <label class="mdl-textfield__label" for="object.num">object.num</label>
                </div>
              </div>
              <div>
                <form id="objectFilter__bool">
                  <div>
                    <label>object.bool</label>
                  </div>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option1-true">
                    <input [(ngModel)]="objectsFilter.bool"
                           [value]="true"
                           type="radio"
                           id="option1-true"
                           class="mdl-radio__button"
                           name="options"
                           checked
                    >
                    <span class="mdl-radio__label">True</span>
                  </label>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option1-false">
                    <input [(ngModel)]="objectsFilter.bool"
                           [value]="false"
                           type="radio"
                           id="option1-false"
                           class="mdl-radio__button"
                           name="options"
                    >
                    <span class="mdl-radio__label">False</span>
                  </label>
                </form>
              </div>
              <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="object.nested.val"
                         [(ngModel)]="objectsFilter.nested.val"
                         [value]="objectsFilter.nested.val"
                  >
                  <label class="mdl-textfield__label" for="object.num">object.nested.val</label>
                </div>
              </div>

              <div>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Object</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of objects | filterBy: objectsFilter">
                    <td class="mdl-data-table__cell--non-numeric">{{ item | json }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-tablet mdl-cell--1-offset-desktop">

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h4>Strings</h4>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h5>Before filtering</h5>
              {{ strings | json }}
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h5>After filtering</h5>

              <div>
                Filters:
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="filter-string"
                       [(ngModel)]="stringsFilter"
                       [value]="stringsFilter"
                >
                <label class="mdl-textfield__label" for="filter-string">Filter by string</label>
              </div>

              <div>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                  <tr>
                    <th>String</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let string of strings | filterBy: stringsFilter">
                    <td>{{ string }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-tablet mdl-cell--1-offset-desktop">

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h4>Numbers</h4>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h5>Before filtering</h5>
              {{ numbers | json }}
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h5>After filtering</h5>

              <div>
                Filters:
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="number" id="filter-number"
                       [(ngModel)]="numbersFilter"
                       [value]="numbersFilter"
                >
                <label class="mdl-textfield__label" for="filter-number">Filter by number</label>
              </div>
              <div>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                  <tr>
                    <th>Number</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let number of numbers | filterBy: numbersFilter">
                    <td>{{ number }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-tablet mdl-cell--1-offset-desktop">

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h4>Booleans</h4>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h5>Before filtering</h5>
              {{ booleans | json }}
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h5>After filtering</h5>

              <div>
                Filters:
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <form>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-true">
                    <input [(ngModel)]="boolFilter"
                           [value]="true"
                           type="radio"
                           id="option-true"
                           class="mdl-radio__button"
                           name="options"
                           checked
                    >
                    <span class="mdl-radio__label">True</span>
                  </label>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-false">
                    <input [(ngModel)]="boolFilter"
                           [value]="false"
                           type="radio"
                           id="option-false"
                           class="mdl-radio__button"
                           name="options"
                    >
                    <span class="mdl-radio__label">False</span>
                  </label>
                </form>
              </div>
              <div>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                  <tr>
                    <th>Boolean</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let bool of booleans | filterBy: boolFilter">
                    <td>{{ bool }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-tablet mdl-cell--1-offset-desktop">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h4>Getters</h4>
              <p>
                Filter by comparing to function results.
              </p>
              <p>
                In this example each object has a getter <b>name</b> that return full name by concatenating first name and last name.
              </p>
            </div>

            <div class="mdl-cell mdl-cell--6-col">
              <h5>Before filtering</h5>
              {{ objectsWithGetters | json }}
            </div>

            <div class="mdl-cell mdl-cell--6-col">
              <h5>After filtering</h5>

              <div>
                Filters:
              </div>

              <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input"
                         type="text"
                         id="objectsWithGettersFilter.name"
                         [(ngModel)]="objectsWithGettersFilter.name"
                         [value]="objectsWithGettersFilter.name"
                  >
                  <label class="mdl-textfield__label" for="objectsWithGettersFilter.name">Filter by name</label>
                </div>
              </div>

              <div>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                  <tr>
                    <th>Object</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let object of objectsWithGetters | filterBy: objectsWithGettersFilter">
                    <td>{{ object | json }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>


  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">ngx-filter-pipe</div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="https://github.com/VadimDez/ngx-filter-pipe">Github</a></li>
        <li><a href="https://github.com/VadimDez">Vadym Yatsyuk</a></li>
      </ul>
    </div>
  </footer>
</div>
